.cart {
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: var(--accent-light-color);
}

.cart-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 8fr 4fr;
    gap: var(--gap-l);
    max-width: 80%;
    height: 80%;
    padding: 2.4rem;
    border-radius: var(--border-radius-l);
    background-color: var(--primary-tint-color);
}

.cart-infomation,
.cart-summary {
    max-height: 80%;
    display: grid;
    grid-template-rows: 10fr 42rem 10fr;
    gap: var(--gap-m);
}

.summary-list {
    position: relative;
    height: 100%;
    padding: 2.2rem 1.6rem 1.6rem;
    border-top: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    overflow: auto;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    row-gap: var(--gap-m);
}

/* BUTTON */
.cart-button-home {
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
    transition: 0.3s ease;
    cursor: pointer;
    text-transform: capitalize;
    border: 1px solid var(--accent-border-color);
}

.cart-button-home:hover {
    color: rgba(0, 0, 0, 0.8);
}

.cart-button-checkout {
    place-self: stretch end;
    width: max-content;
    padding: 1rem 2rem;
    border: none;
    outline: none;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-color-white);
    background-color: var(--accent-light-color);
    cursor: pointer;
    transition: 0.3s ease;
    text-transform: uppercase;
    border-radius: var(--border-radius-l);
}

.cart-button-checkout:hover {
    color: var(--text-color-white);
    background-color: var(--accent-color);
}

