.summary-box {
    width: 100%; /* Set the width of each summary-box to 100% */
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 35fr 20fr 15fr 30fr;
    text-align: center;
}

.summary-box:not(:last-child) {
    padding-bottom: var(--gap-m);
    border-bottom: 2px solid hsl(30, 50%, 79%);
}

.summary-box-img img {
    max-width: 50%;
    margin: 0 auto;
}

.summary-box-name {
    place-self: center;
}

.summary-box-size {
    display: grid;
    place-items: center;
    gap: var(--gap-s);
    
}
.summary-box-quantity {
    display: grid;
    place-items: center;
    gap: var(--gap-s);
}

.summary-box-quantity .summary-box-quantity-flex {
    display: flex;
    gap: var(--gap-s);
}

.summary-box-price {
    place-self: center;
    display: flex;
    gap: var(--gap-s);
    line-height: 1.4;
    font-weight: 500;
    color: red;
}
