.sale-section {
    background-color: var(--bg-color);
}

.sale {
    display: grid;
    grid-auto-flow: row;
    row-gap: 3rem;
}

.sale-products {
    grid-auto-flow: row;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gap-s);
}
