.featured-section {
    background-color: var(--bg-color);
}

.featured {
    position: relative;
    display: grid;
    grid-auto-flow: row;
    row-gap: 3rem;
}

.featured-btn {
    position: absolute;
    right: 0.8rem;
    border-radius: var(--border-radius-m);
    font-size: 1.2rem;
    transition: .3s ease;
}

.featured-products {
    grid-auto-flow: row;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gap-s);
}
