.input {
    border: none;
    outline: 0.2rem solid transparent;
    width: 100%;
    border-radius: var(--border-radius-sm);
    transition: 0.3s ease;
}

.input:active,
.input:focus {
    outline: 0.2rem solid var(--accent-light-color);
}

.input-small {
    padding: 0.8rem 1.2rem;
    font-size: 1.4rem;
}

.input-medium {
    padding: 1.6rem 2rem;
    font-size: 1.6rem;
}
