.banner {
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-l);
    align-items: center;
    padding: 1rem 0;
}

.banner div,
.banner img {
    height: 100%;
}

.banner img {
    border-radius: var(--border-radius-sm);
}

.banner-left-img {
    position: relative;
    cursor: pointer;
    transition: 0.3s ease;
}
.banner-left-img img {
    max-width: 100%;
    display: block;
}

.banner-left-img:hover {
    box-shadow: var(--box-shadow);
}

.banner-left-content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner-right {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-m);
}

.banner-right-img {
    cursor: pointer;
    position: relative;
    transition: 0.3s ease;
}

.banner-right-img:hover {
    box-shadow: var(--box-shadow);
}

.banner-right-img img {
    max-width: 100%;
    aspect-ratio: 5/4;
}

.banner-right-content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.3);
}

.banner-right-content .button-content,
.banner-left-content .button-content {
    padding: 1.4rem 2.8rem;
    border-radius: var(--border-radius-xxl);
    background-color: rgba(254, 189, 105, 0.5);
    border: 1px solid var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
    color: black;
    transition: 0.3s ease;
    text-transform: uppercase;
}

.banner-right-content .button-content:hover,
.banner-left-content .button-content:hover {
    background-color: var(--primary-color);
    border: 1px solid transparent;
    color: white;
}
