.breadcrumb {
    padding: 1rem 0;
    background-color: var(--primary-tint-color);
    text-align: center;
    color: black;
}

.breadcrumb a {
    color: black;
    font-size: 1.4rem;
}

.product-container {
    display: grid;
    grid-template-columns: 4fr 8fr;
    gap: var(--gap-m);
}
