.products-container {
    max-width: 100%;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: min-content auto min-content;
    gap: var(--gap-m);
}

.products-list {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: max-content;
    gap: var(--gap-s);
}

.filter-pagination {
    display: grid;
    grid-auto-flow: column;
    place-content: center;
    gap: var(--gap-s);
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
}
